
.container{
    width: 100%;
}

.counter-box {
	display: flex;
	padding: 12px;
	align-items: center;
	justify-content: center;
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}


.counter {
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
      background: #003B29;
}

.counter-box.colored p,
.counter-box.colored .counter {
	color: #FEF880;
}

.text-color {
color: #FEF880;
padding-right: 24px;
}

.icon-style {
color: #FEF880;
font-size: 16px;
margin-left: 8px;
}
.custom-style-primary {
color: #2ca58d;
}

.text-style-bold {
font-weight: 700;
}

button, input, optgroup, select, textarea {
           color: #000;
           background-color: #ffc107;
           border-color: #ffc107;
           border-radius: 8px;


}

button, input, optgroup, select, textarea:hover{

}

.form-control {
width: 600px;
}

.d-flex {
justify-content: center
}





