<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>account</title>
</head>
<body>
<h1>Welcome home</h1>
<!--detta är martins testsida för att se så funktioner och kopplingar funkar som det ska-->
<div>
    <p th:text=" 'logged in as ' + ${session.user?.getFirstName()}"></p>
    <a href="/createListing">Sell something</a>
    <a href="/logout" class="nav-link active">Logga ut</a>
    <td><a href="/allListings?sortBy=4"><button type="button" class="btn btn-dark">My listings</button></a></td>

</div>

</body>
</html>