<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Startsida</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <link href="../Css/album.css" rel="stylesheet">
  <!-- Link startpage.css -->
  <link rel="stylesheet" href="/static/css/blog.css" th:href="'/css/blog.css'">
  <!-- Link javascript.js -->
  <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
  <!-- Link google icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Prenumenera</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/startpage">Second Circle</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="/">Tillbaka</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">Om oss</a>
          <a class="p-2 text-muted" href="/AllListings">Produkter</a>
          <a class="p-2 text-muted" href="#">Kontakt</a>
          <a class="p-2 text-muted" href="#">Design</a>
          <a class="p-2 text-muted" href="#">Kultur</a>
          <a class="p-2 text-muted" href="#">Välgörenhetsorganistationer</a>
          <a class="p-2 text-muted" href="#">Policy</a>
        </nav>
      </div>

      <div class="jumbotron p-3 p-md-5">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Vårt motto</h1>
          <p class="lead my-3">Vem styr världen? - Ingen. Men vi kan göra världen en bättre plats med välgörenhet. Vi på Second Circle brinner för välgörenhet och återvinning, därför går 2% av alla köp till en valfri organisation.</p>
          <p class="lead mb-0"><a href="#" class="font-weight-bold">Fortsätt läsa om oss...</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Välgörenhetsorganisationer</strong>
              <h3 class="mb-0">
                <a class="text-dark">Vårt samarbete</a>
              </h3>
              <div class="mb-1 text-muted">11 November 2022</div>
              <p class="card-text mb-auto"> Vi kan nu stolt gå ut med att vi har påbörjat ett samarbete med....</p>
              <a href="#">Fortsätt läsning</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Vår framtidsvision</strong>
              <div class="mb-1 text-muted">11 November 2022</div>
              <p class="card-text mb-auto">Vi har en framtidsvision att hjälpa fler människor och bidra mer till samhället. Genom noggrant valt ut organisitioner som står för att göra världen en bättre plats....</p>
              <a href="#">Fortsätt läsning</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">


          <div class="blog-post">
            <h2 class="blog-post-title">Senaste blogg inlägget</h2>
            <p class="blog-post-meta">1 Januari, 2023 by <a href="#">Malin</a></p>

            <p>Denna blogg post handlar om vår senaste donation till läkare utan gränser.</p>
            <hr>
            <blockquote>
             <p> Sjukdomen kutan leishmaniasis, som leder till sår och ärrbildningar på huden, är ett utbrett problem i Pakistan. Den går att behandla men bristen på läkemedel är stor och personer med sjukdomen möter ofta stigma.

               – Mina skolkamrater retades och försökte slå mig där såret sitter på näsan. Jag har slutat gå till skolan, jag vill inte återvända dit förrän såret har läkt, säger tioåriga Idrees.

               Idrees är en av många patienter som får behandling mot hudinfektionen kutan leishmaniasis, även kallad orientböld, på Läkare Utan Gränsers klinik i Quetta. Sjukdomen, som överförs via sandflugor, är mycket vanlig i de pakistanska provinserna Baluchistan, där Quetta är huvudstad, och Khyber Paktunkwa.  </p>
            </blockquote>

          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Ett annat blogg inlägg</h2>
            <p class="blog-post-meta">23 December, 2022 by <a href="#">Jacob</a></p>

            <p> Om du redan är medlem gör du en fantastisk insats för de barn som behöver det mest när du betalar ditt medlemskap. Du kan också engagera dig mer – som volontär.

              Vill du inte bli medlem kan du ändå engagera dig som volontär i våra verksamheter.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Nära framtid</h2>
            <p class="blog-post-meta">21 Februari, 2023 by <a href="#">Luna</a></p>

            <p>Vi finns på plats i Sverige och 119 andra länder och arbetar för alla barns självklara rätt att överleva, utvecklas och växa upp i trygghet. Här och nu för framtiden förändrar vi barns liv – för att trygga barn blir trygga vuxna. Att rädda barnen är att rädda världen.</p>

          </div><!-- /.blog-post -->

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Äldre</a>
            <a class="btn btn-outline-secondary disabled" href="#">Nyare</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Om oss</h4>
            <p class="mb-0">Vi på Second Circle står för rättvisa och att göra så att fler människor får ett bättre liv.</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Arkivet</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">Mars 2014</a></li>
              <li><a href="#">Februari 2014</a></li>
              <li><a href="#">Januari 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">Oktober 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">Augusti 2013</a></li>
              <li><a href="#">Julli 2013</a></li>
              <li><a href="#">Juny 2013</a></li>
              <li><a href="#">Maj 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Vart ni hittar oss</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted" style="background-color: #003B29;">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span></span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>Second Circle
              </h6>
              <p>
                Vem styr världen?
                - Ingen. Men vi kan göra världen en bättre plats med välgörenhet. Vi på Second Circle brinner för välgörenhet och återvinning, därför går 2% av alla köp till en valfri organisation
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Produkter
              </h6>
              <p>
                <a href="#!" class="text-reset">Kläder</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Diverse saker</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Elektronik</a>
              </p>
              <p>
                <a href="#!" class="text-reset">För hemmet</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Användbara länkar
              </h6>
              <p>
                <a href="#!" class="text-reset">Prissättning</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Inställningar</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Hjälp</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
              <p><i class="fas fa-home me-3 text-secondary"></i> Stockholm, 211 76, SWE</p>
              <p>
                <i class="fas fa-envelope me-3 text-secondary"></i>
                grupp4@SecondCircle.com
              </p>
              <p><i class="fas fa-phone me-3 text-secondary"></i> + 46 40 532</p>
              <p><i class="fas fa-print me-3 text-secondary"></i> + 46 45 531</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4 copyright-section text-color" style="background-color: #003B29;">
        © 2023 Copyright:
        <a class="text-reset fw-bold text-color" href="https://mdbootstrap.com/">Second Circle</a>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
