<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div><p th:text=" 'logged in as ' + ${session.user?.getFirstName()}"></p></div>
<form th:object="${listing}" action="/createListing" method="POST">

  <input type="hidden" th:field="*{id}">

  <input type="hidden" th:field="*{seller}" id="userId">

  <label for="title">Title</label>
  <input type="text" th:field="*{title}" id="title">

  <label for="description">description</label>
  <input type="text" th:field="*{description}"  id="description">

  <label for="price">price</label>
  <input type="text" th:field="*{price}" id="price">


  <label for="shippingCost">shippingCost</label>
  <input type="text" th:field="*{shippingCost}" id="shippingCost">

  <label for="donationPercent">donationPercent</label>
  <input type="text" th:field="*{donationPercent}" id="donationPercent">


  <input type="submit">
</form>
</body>
</html>