<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>Books</title>
</head>
<body>
<h1>listings</h1>


<a href="/createListing">New listing</a>

<table style="text-align:left">
  <tr>

  </tr>
  <tr th:each="listing : ${listings}">
    <th><a th:href="'/listing/' + ${currentPage} + '/' + ${listing.id}" th:text="${listing.title}"></a></th>
    <th th:text="${listing.description}"></th>

  </tr>
</table>
<div>

        <span th:if="${showPrev}">
            <a th:href="'/?page=' + ${currentPage-1}" th:text="Previous"></a>
        </span>

  <span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}"></span>
            <a th:if="${currentPage != page}" th:href="'/?page=' + ${page}" th:text="${page}"></a>
        </span>

  <span th:if="${showNext}">
            <a th:href="'/?page=' + ${currentPage+1}" th:text="Next"></a>
        </span>
</div>

</body>
</html>