<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Startsida</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <link href="../Css/album.css" rel="stylesheet">
  <!-- Link startpage.css -->
  <link rel="stylesheet" href="/static/css/startpage.css" th:href="'/css/startpage.css'">
  <!-- Link javascript.js -->
  <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
  <!-- Link google icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>

<!-- NAVBAR START -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light p-2">

      <div class="container-fluid"><a href="/"> <img th:src="@{/images/logotype.png}" class="img-fluid rounded" alt="..." style="width: 135px; height: 50x;"></a> <a class="navbar-brand name" href="/startpage.html"></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/about">Om oss</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/allListings">Produkter</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/blog">Blogg</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/contact">Kontakt</a> </li>
        </ul>
        <span th:if="${session.user?.getId() == null}" class="nav-item">
        <a href="/signin"><button type="button" class="btn btn-warning btn-sm">Logga in</button></a>
        <a href="/signup"><button type="button " class="btn btn-link btn-sm">Registrera användare</button></a>
      </span>
        <span th:if="${session.user?.getId() != null}" class="nav-item">
          <a href="/ProfilePage"><button type="button" class="btn btn-warning btn-sm"><p th:text="${session.user?.getUserName()}"></button></a>
        </span>
      </div>
    </div>
  </nav>
</div>
<!-- NAVBAR END -->

<!-- HERO SECTION START -->
<main role="main w-100 p-3">


  <section class="text-center">
    <div class="container w-100 p-3">
      <!-- DONATIONS SECTION START -->
      <div class="container album py-3">
        <div class="row">
          <div class="four col-">
            <div class="counter-box colored rounded">
              <p class="text-color">Tillsammans har våra köpare och säljare samlat in&nbsp;</p>
              <p th:text="' ' + ${sumOfDonations} + ' ' + ' kronor' " class="counter text-color"></p>
              <i class="material-icons icon-style">favorite</i>
            </div>
          </div>
        </div>
        <!-- DONATIONS SECTION END -->
      <div class="carousel-inner" >
        <div class="carousel-item active">
          <img src="../images/hero_bg21.png" class="img-fluid rounded" alt="..." style="width: 100%;margin-top: 20px; margin-bottom: 40px;">
          <!-- <img src="../images/garagesaleport.png" class="img-fluid rounded" alt="..." style="width: 80%;margin-top: 75px;"> -->
          <div class="carousel-caption d-none d-md-block" style="bottom: 20rem;">
            <h1 class="jumbotron-heading text-light text-style-bold" style="margin-bottom: 24px;">Välkommen till Second Circle</h1>
            <!--<p class="lead text-light"><b>Vem styr världen?
            - Ingen. Men vi kan göra världen en bättre plats med välgörenhet. Vi på Second Hand Sweden brinner för välgörenhet och återvinning, därför går 2% av alla köp till en valfri organisation</b></p> -->
            <form class="d-flex searchitem" th:action="@{/search}" method="get" > <input class="form-control me-2" type="search" placeholder="Vad letar du efter?" aria-label="Search" name="keyword" id="keyword" th:value="${keyword}" > <input type="submit" value="Sök" class="search-button-style"><i class="fa fa-search search-button-style"></i> </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- HERO SECTION END -->


  <!-- CATEGORY SECTION START -->
  <div class="container">

    <h4>Populära kategorier</h4>
    <div class="row mt-2 g-4" style="margin-bottom: 75px;">
      <div class="col-md-3">
        <div class="card p-1">
          <a href="/allListings?category=5061"><div class="d-flex justify-content-between align-items-center p-2">
            <div class="flex-column lh-1 imagename"> <span>Mobiltelefoner</span> </div>
            <div> <img src="https://i.imgur.com/b9zkoz0.jpg" height="110" width="100" /></div>
          </div></a>
    </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2">
          <a href="/allListings?category=2853"> <div class="d-flex justify-content-between align-items-center p-2">
            <div class="flex-column lh-1 imagename"> <span>Hörlurar</span> </div>
            <div><img src="https://i.imgur.com/SHWASPG.png" height="100" width="100" /></div>
          </div></a>
    </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2">
          <a href="/allListings?category=5093"><div class="d-flex justify-content-between align-items-center p-2">
            <div class="flex-column lh-1 imagename"> <span>Smartklockor</span> </div>
            <div> <img src=" https://i.imgur.com/Ya0OXCv.png" height="100" width="100" /> </div>
          </div></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2">
          <a href="/allListings?category=2888"> <div class="d-flex justify-content-between align-items-center p-2">
            <div class="flex-column lh-1 imagename"> <span>Luftrengörare</span> </div>
            <div> <img src="https://i.imgur.com/2gvGwbh.png" height="100" width="100" /> </div>
          </div> </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2tr5">
          <a href="/allListings?category=2657"><div class="d-flex justify-content-between align-items-center p-2">
            <div class="flex-column lh-1 imagename"> <span>Dammsugare</span> </div>
            <div> <img src="https://i.imgur.com/UMQJpSG.png" height="115" width="100" /> </div>
          </div> </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2">
          <a href="/allListings?category=2775"><div class="d-flex justify-content-between align-items-center p-2">
            <div class="flex-column lh-1 imagename"> <span>Diskmaskin</span> </div>
            <div> <img src="https://i.imgur.com/e9CyhXR.png" height="100" width="100" /> </div>
          </div> </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2">
          <a href="/allListings?category=2917"> <div class="d-flex justify-content-between align-items-center p-2">
            <div class="flex-column lh-1 imagename"> <span>Smart -</span> <span>TV</span> </div>
            <div> <img src=" https://i.imgur.com/Zq8VigZ.png" height="100" width="100" /> </div>
          </div></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-2">
          <a href="/allListings?category=1433"><div class="d-flex justify-content-between align-items-center p-2">
            <div class="flex-column lh-1 imagename"> <span>Bärbara datorer</span> </div>
            <div> <img src="https://i.imgur.com/6pK5oZl.jpg" height="100" width="100" /> </div>
          </div></a>
        </div>
      </div>
    </div>
  </div>

  <!-- CATEGORY SECTION END -->

  <!-- ORGANISATION SECTION START -->

  <div class="album py-5">

    <div class="container">
      <h4>Organisationer</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top" src="../images/img_1.png" style="width: 150px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Tack vare din och andras vilja att hjälpa till kan vi fortsätta vårt livsviktiga arbete för barnen. Din gåva ger barn på flykt mat, varma kläder och trygga platser att leka på. Tillsammans förändrar vi barns verklighet!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top" src="../images/img_2.png" style="width: 180px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Tack vare din och andras vilja att hjälpa kan vi vara på plats i Sverige och 191 länder till världen över för att rädda liv och ge hopp.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top" src="../images/img_3.png" style="width: 165px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Att ge en minnesgåva är ett fint sätt att hedra minnet av någon som stått dig nära. Minnesgåvan hjälper forskningen mot nya genombrott. Den finns kvar och gör skillnad när blommor och kransar blommat ut.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top" src="../images/img_4.png" style="width: 150px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Din gåva är livsviktig och för forskningen framåt så att färre drabbas och fler överlever cancer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top" src="../images/img_5.png" style="width: 200px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Vi finns på plats världen över och kan snabbt hjälpa barnen i katastrofsituationer. Ge en gåva till katastrofarbetet.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top" src="../images/img_6.png" style="width: 100px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Skänk en gåva, bli månadsgivare eller starta en insamling. Tillsammans räddar vi liv. Stöd vårt arbete. Tillsammans räddar vi liv. Engagera dig. Vi ger humanitär hjälp.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top" src="../images/img.png" style="width: 190px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Mitt i kriser finns barnen och drabbas. SOS Barnbyar finns på plats innan, under och efter att behovet är ett faktum. Vår närvaro och samarbete med lokala myndigheter i närmre 140 länder runt om i världen gör att vi snabbt kan samordna riktade insatser för att ge stöd åt barn och familjer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top" src="../images/img_9.png" style="width: 100px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Hjälp djur, natur och klimatet. Bli fadder & gör skillnad för vår enda planet. Är du med? Bestånden av vilda djur har minskat med 69% sedan 1970. Läs mer & gör skillnad! Gåvobevis att ge bort. Skänk enkelt med Swish. Stoppa utrotningen.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow p-2">
            <img class="card-img-top"  src="../images/img_7.png" style="width: 140px" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Hjälp Sverige för UNHCR ge livräddande hjälp till människor på flykt världen över. Rädda liv genom att bli månadsgivare idag! Ditt bidrag räddar liv. UNHCR bidrar med nödhjälp. 90-konto. Hjälp människor på flykt. På plats världen över.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Läs mer</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- ORGANISATION SECTION END -->

<!-- FOOTER START -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted" style="background-color: #003B29;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Second Circle
          </h6>
          <p>
            Vem styr världen?
            - Ingen. Men vi kan göra världen en bättre plats med välgörenhet. Vi på Second Circle brinner för välgörenhet och återvinning, därför går 2% av alla köp till en valfri organisation
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Produkter
          </h6>
          <p>
            <a href="#!" class="text-reset">Kläder</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Diverse saker</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Elektronik</a>
          </p>
          <p>
            <a href="#!" class="text-reset">För hemmet</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Användbara länkar
          </h6>
          <p>
            <a href="#!" class="text-reset">Prissättning</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Inställningar</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hjälp</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Stockholm, 211 76, SWE</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            grupp4@SecondCircle.com
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 46 40 532</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 46 45 531</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 copyright-section text-color" style="background-color: #003B29;">
    © 2023 Copyright:
    <a class="text-reset fw-bold text-color" href="https://mdbootstrap.com/">Second Circle</a>
  </div>
  <!-- Copyright -->
</footer>

<!-- FOOTER END -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
<script src="../../../../assets/js/vendor/holder.min.js"></script>
</body>
</html>
